{% if site.valine %}
<!-- valine 评论框 start -->
<div class="vcomments"></div>
<!-- valine 评论框 end -->
{% endif %}

{% if site.livere_uid %}
<!-- livere 评论框 start -->
<div id="lv-container" data-id="city" data-uid="{{ site.livere_uid }}"></div>
<!-- livere 评论框 end -->
{% endif %}

{% if site.disqus_username %}
<!-- disqus 评论框 start -->
<div class="comment">
    <div id="disqus_thread" class="disqus-thread"></div>
</div>
<!-- disqus 评论框 end -->
{% endif %}

{% if site.netease_comment %}
<!-- 网易云跟帖 评论框 start -->
<div id="cloud-tie-wrapper" class="cloud-tie-wrapper"></div>
<!-- 网易云跟帖 评论框 end -->
{% endif %}


<!-- valine start -->
{% if site.valine %}
<script src="https://cdn1.lncld.net/static/js/3.0.4/av-min.js"></script>
<script src="https://unpkg.com/valine@latest/dist/Valine.min.js"></script>
<script>
    new Valine({
        el: '.vcomments',
        appId: '{{ site.valine.id }}',
        appKey: '{{ site.valine.key }}',
        avatar: '{{ site.valine.avatar }}',
        visitor: '{{ site.valine.visitor }}',
        placeholder: '{{ site.valine.placeholder }}'
    });
</script>
{% endif %}
<!-- valine end -->

{% if site.livere_uid %}
<!--  来必力City版JS代码 start -->
<script type="text/javascript">
        (function (d, s) {
            var j, e = d.getElementsByTagName(s)[0];

            if (typeof LivereTower === 'function') { return; }

            j = d.createElement(s);
            j.src = 'https://cdn-city.livere.com/js/embed.dist.js';
            j.async = true;

            e.parentNode.insertBefore(j, e);
        })(document, 'script');
</script>
<!--  来必力City版JS代码 end -->
{% endif %}

{% if site.netease_comment %}
<!-- 网易云跟帖JS代码 start -->
<script src="https://img1.cache.netease.com/f2e/tie/yun/sdk/loader.js"></script>
<script>
    var cloudTieConfig = {
        url: document.location.href,
        sourceId: "",
        productKey: "de25fc98a6fe48b3bc8a7ae765da99a0",
        target: "cloud-tie-wrapper"
    };
    var yunManualLoad = true;
    Tie.loader("aHR0cHM6Ly9hcGkuZ2VudGllLjE2My5jb20vcGMvbGl2ZXNjcmlwdC5odG1s", true);
</script>
<!-- 网易云跟帖JS代码 end -->
{% endif %}


{% if site.disqus_username %}
<!-- disqus 公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = "{{site.disqus_username}}";
    var disqus_identifier = "{{page.id}}";
    var disqus_url = "{{site.url}}{{page.url}}";

    (function () {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<!-- disqus 公共JS代码 end -->
{% endif %}